Package: interaction
Version: 1.0-4
Section: utils
Priority: optional
Architecture: all
Maintainer: senyyds <1494621359@qq.com>
Depends: bash, python, nodejs, php, clang, openjdk-17
Description: Interactive multi-language code runner
 This is a compilation kit that can achieve interactive operation.
 You can use it to quickly run Java, PHP, JavaScript, Python, C++ programs.
 Features: interactive menu, support for 5 programming languages.
